* {
	box-sizing: border-box;
	margin: 0;
	padding: 0
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    color: #AA2C57;
    text-align: center;
    font-weight: bold ;
    margin-top: 2rem;
}
.lorem {
    font-size: small;
    text-align: center;
    padding-top: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    width: 920px;
    margin: 0 auto;
}

.row{

}

.row .col {
    float: left;
    width: calc((100% / 3) - (60px / 2));
    height: 100px;
    background-color: #0F0E17;
    display: inline-block; 
    color: white;
    margin-top: 3rem;
  }

  .row .col:not(:last-child) {
    margin-right: 30px;}
  
  

  .row .col img {
    width: 35%;
    height: 100px;
  }

  .description {
    font-weight: bold ;
    font-family: Arial, Helvetica, sans-serif;
  }