* {
	box-sizing: border-box;
	margin: 0;
	padding: 0
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    color: #AA2C57;
    text-align: center;
    font-weight: bold ;
    margin-top: 2rem;
}
.lorem {
    font-size: small;
    text-align: center;
    padding-top: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    width: 920px;
    margin: 0 auto;
}

.row{

}
img {
    float: left;
}

.row .col {
    float: left;
    width: calc((100% / 3) - (60px / 2));
    height: 100px;
    background-color: #0F0E17;
    display: inline-block; 
    color: white;
    margin-top: 3rem;
  }

  .row .col:not(:last-child) {
    margin-right: 30px;}
  
  

  .row .col img {
    width: 35%;
    height: 100px;
  }

  .name-surname {
   float: left;
    font-weight: bold ;
    font-family: Arial, Helvetica, sans-serif;
  }

  .position{
float: left;
padding-top: 1rem;
padding-bottom: 1rem;
width: 60%

  }

  .mail{
    float: left;
    padding-top: 1rem;
   }

  a {text-decoration: none;
    color: #226EB6;
}
.frasi {
    float: left;
}
